/* Color Variables */
:root {
  --primary-color: #FAF7F0;
  --secondary-color: #D8D2C2;
  --color-accent-1: #D57944;
  --color-accent-2: #727D66;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-sidebar main right-sidebar"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 10px;
}

header {
  grid-area: header;
  background-color: var(--color-accent-1);
  color: var(--primary-color);
  padding: 25px;
  text-align: center;
}

header > img {
  border-radius: 50%;
  width: 150px;
  margin: 0;
}

h1 {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 500;
  font-size: 50px;
  margin: 0;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #3d3c3c;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  margin-top: 0;
}

nav a:hover {
  color: black;
}

.left-sidebar {
  grid-area: left-sidebar;
  background-color: var(--secondary-color);
  padding: 20px;
}

main {
  grid-area: main;
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--color-accent-2);
}

.right-sidebar {
  grid-area: right-sidebar;
  background-color: var(--primary-color);
  padding: 20px;
}

footer {
  grid-area: footer;
  background-color: var(--color-accent-2);
  color: var(--primary-color);
  text-align: center;
  padding: 20px;
}

/* Home page selector and About page*/
.right-sidebar figure, .about-right figure {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.right-sidebar .homephoto, .about-right .aboutphoto1 {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
}

.right-sidebar figcaption {
  margin-top: 10px;
  font-style: italic;
  color: #555
}

